<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= listing.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text"><%= listing.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= listing.location %></li>
                <li class="list-group-item text-muted"><p>Latitude :<%= listing.latitude %></p><p>Longitude :<%= listing.longitude %></p></li>
                <li class="list-group-item">₱<%= listing.price %>/night</li>
               
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-success" href="/listings/<%= listing._id %>/edit">Edit</a>
                <form class="d-inline" action="/listings/<%= listing._id%>?_method=delete" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div> <div class="card-footer text-muted">
                <h5>Reviews</h5>
                <p class="list-group-item m-3"><%= listing.reviews %></p>
            </div>
            <div id="map"></div>
            </div>
            <br><br>
               
        <script>
            let lat = '<%-listing.latitude%>'
            let long = '<%-listing.longitude%>'
            var map = L.map('map').setView([lat,long], 13); 
            var marker = L.marker([lat,long]).addTo(map); 
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
               
</script>
               
    </div>
</div>
